@{
    ViewBag.Title = "Home Page";
}

<table>
<tr>
<td>
<div class="controlpanel">
<table>
<thead>
<th>Job</th><th>Status</th><th>Control</th>
</thead>
<tr>
<td>Securities Import</td><td>@ViewBag.Status</td><td>Start</td>
</tr>
</table>
</div>
</td>
<td>
<div class="logview">
<textarea name="log" id="log" rows="20">
Contains a lot of lines
</textarea>
</div>
</td>
</tr>
</table>


