<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="secureAppSettings" type="System.Configuration.NameValueSectionHandler"/>
  </configSections>
  <appSettings>
    <add key="name" value="prod"/>
    <add key="rootroute" value="admin"/>
    <add key="host" value="localhost"/>
  </appSettings>
  <secureAppSettings>
    <add key="username" value="guest"/>
    <add key="password" value="Winter09"/>
  </secureAppSettings>
</configuration>